[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=containerd.service
Wants=containerd.service

[Service]
TimeoutStartSec=300s
WorkingDirectory={{.KeelRuntimeDataHome}}/kubelet
ExecStart={{.KeelHome}}/bin/kubelet \
  --config={{.KeelHome}}/conf/kubelet-config \
  --root-dir={{.KeelRuntimeDataHome}}/kubelet \
  --cert-dir={{.KeelRuntimeDataHome}}/ssl/kubelet \
  --kubeconfig={{.KeelHome}}/conf/kubelet-kubeconfig \
  --hostname-override={{.Hostname}} \
  --node-labels={{.NodeLabels}} \
  --v=1 \
  --logtostderr=true \
  --pod-infra-container-image={{.ImageRegistry}}/{{.ImageRegistryOrg}}/{{.ImageName}} \
  --runtime-cgroups=/kubereserved.slice \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///run/containerd/containerd.sock
ExecStartPost=/bin/bash -c 'umask 0022; pgrep -x kubelet > /run/kubelet.pid'
ExecStopPost=/bin/bash -c 'rm -f /run/kubelet.pid'
Restart=always
RestartSec=5
User=root
CPUAccounting=yes
MemoryAccounting=yes

[Install]
WantedBy=multi-user.target
