[Unit]
Description=containerd container runtime
Documentation=https://containerd.io
After=network.target local-fs.target

[Service]
WorkingDirectory={{.KeelRuntimeDataHome}}/containerd
ExecStartPre=-/sbin/modprobe overlay
# Workaround for containerd slow-start after power-off without reboot command.
ExecStartPre=-/usr/bin/find {{.KeelRuntimeDataHome}}/containerd/state/io.containerd.runtime.v2.task -name address -type f -delete
ExecStart={{.KeelHome}}/bin/containerd \
          --config={{.KeelHome}}/conf/containerd-config.toml
ExecStop={{.KeelHome}}/bin/crictl rmp -af
ExecStopPost={{.KeelHome}}/bin/kill-all-workloads.sh -y
ExecStopPost={{.KeelHome}}/bin/kubelet-umount-action.sh -y
# Workaround for containerd slow-start after reboot.
# Remove it when containerd/containerd/issues/5597 solved.
ExecStopPost=/usr/bin/find {{.KeelRuntimeDataHome}}/containerd/state/io.containerd.runtime.v2.task -name address -type f -delete
Type=exec
Delegate=yes
KillMode=process
Restart=always
RestartSec=5
LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=infinity
OOMScoreAdjust=-999
# Comment TasksMax if your systemd version does not supports it.
# Only systemd 226 and above support this version.
#TasksMax=infinity

[Install]
WantedBy=multi-user.target

